@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Oswald;
    background-color: #F29A2E;
}

/* WRAPPER-INDEX */

#wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "imagenfondo"
        "cartel"
        "burgas"
        "footer";
    grid-template-rows: auto;
}

header {
    grid-area: header;
    background-image: url(../img/tramaHeader.png);
    background-repeat: repeat;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.menu_item {
    display: flex;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    margin: 0 1.5rem;
    color: white;
    font-size: 2.8rem;
}


.logo_header img {
    width: 15rem;
}



.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: #F29A2E;
    transition: all 0.25s;
}

#HamburguesaFondo {
    grid-area: imagenfondo;    
}


.hamburguer1920 img {
    width: 100%;
}

section#Cartel {
    grid-area: cartel;
    display: flex;
    justify-content: center;
}

section#burguershow {
    grid-area: burgas;
    display: flex;
}

.hamburguers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.burguer_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burguer_image img {
    width: 25rem;
    opacity: 0.6;
}

.burguer_image img:hover {
    opacity: 1;
    transform: scale(1.10);
    transition: all 1s;
}

p {
    padding: 1rem;
}

#myfooter {
    grid-area: footer;
    background-image: url(../img/tramaHeader.png);
    background-repeat: repeat;
    background-color: black;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
}

.footerdad {
    display: flex;
    justify-content: space-evenly;
    padding: 1.1rem;
}

.workwithus h2, p {
    display: flex;
    justify-content: center;
    color: white;
}

.trabaja {
    border: 2px solid #F29A2E;
    padding: 0.5em;
    background-color: black;
}

.trabaja:hover {
    text-decoration: none;
    color: #F29A2E;
    transition: all 0.25s;
}



.Socialsc img {
    width: 3rem;
}


/* INDEX MEDIA QUERY */

@media screen and (min-width:992px) and (max-width:1199px) {
    
    header {
        font-size: 0.5em;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    
    header {
        font-size: 0.5em;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    
    .logo_header {
        width: 5%;
        visibility: hidden;
    }

    .hamburguers {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .burguer_image {
        width: 20rem;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {

    

    .logo_header {
        width: 5%;
        visibility: hidden;
    }

    .carousel-item h5 {
        font-size: 1.3em;
        text-shadow: 1px 1px black;
    }
    
    .carousel-item p {
        font-size: 0.8em;
        text-shadow: 1px 1px black;
    }

    .promotion h3 {
        font-size: 1.5em;
        color: black;
        margin: 0.5em;
    }
    .promotion p {
        font-size: 1em;
        color: black;
        margin: 0.5em;
    }

    .hamburguers {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .burguer_image {
        width: 20em;
    }

    .logowithsocials img {
        width: 75%;
    }

    .trabaja {
        font-size: 1em;
    }
}

@media screen and (min-width:0px) and (max-width:360px) {

    

    body {
        font-size: 0.6rem;
    }

    .logo.header {
        width: 5%;
        visibility: hidden;
    }

    .hamburguers {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3em;
        margin: 0 10em 10em 10em;
    }

    .hamburguer img {
        width: 50%;
    }

    .hamburguer h3 {
        color: black;
        margin: 2em;
    }

    .hamburguer p {
        visibility: hidden;
    }

    .promotion img {
        width: 50%;
    }

    .promotion h3 {
        font-size: 1.5em;
        color: black;
        margin: 2em;
    }

    .promotion p {
        visibility: hidden;
    }

    .burguer_image img {
        width: 90%;
    }

    .workwithus a {
        font-size: 1em;
    }

    p {
        visibility: hidden;
        width: 1%;
        height: 1%;
    }

}


