@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 62.5%;

}
body {
    width: 100%;
    height: 100vh;
    font-family: Oswald;
    background-color: #F29A2E;
}
 
header {
    background-image: url(../img/tramaHeader.png);
    background-repeat: repeat;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.menu_item {
    display: flex;
}



li,
a {
    list-style-type: none;
    text-decoration: none;
    margin: 0 1.5rem;
    color: white;
    font-size: 2.8rem;
}

.logo {
    width: 15rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: #F29A2E;
    transition: all 0.25s;
}

#formulario {
    display: flex;
    justify-content: center;
}

#formulario h2 {
    font-size: 3em;
    padding: 0.5em;
}

.boxform {
    display: flex;
    flex-direction: column;
    align-items: center;
}


input[type=text], input[type=email] {
    width: 15em;
    font-size: 2em;
    border: 2px solid black;
    margin: 0.1em 0;
}

.sex {
    font-size: 1.5em;
}

textarea {
    width: 30em;
    height: 10em;
    border: 2px solid black;
}

input[type=submit], input[type=reset] {
    border-radius: 10px;
    padding: 0.5em;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 1em;
    color: black;
    text-decoration: underline;
}

.hamburguers_menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1.5em;

}
.hamburguer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 1em;
    width: 30em;
    height: 30em;
    border-radius: 1em;
}

#promotion:hover {
    background: #730E16;
    transform: scale(1.10);
    transition: all 1s;
    border-radius: 2em;
}

.hamburguer a {
    display: flex;
    justify-content: center;
}


.hamburguer:hover {
    background: black;
    transform: scale(1.10);
    transition: all 1s;
    border-radius: 2em;
}

.hamburguer:hover h2, p {
    color: white;
}

.hamburguer:hover p {
    color: white;
}

.hamburguer img {
    display: flex;
    align-self: center;
    width: 70%;
}

.hamburguer h2 {
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 2.5em;
    color: black;
}

.hamburguer p {
    display: flex;
    align-self: center;
    padding: 5px;
    color: black;
}

.carousel-item h5 {
    font-size: 2.5em;
    text-shadow: 2px 2px black;
}

.carousel-item p {
    font-size: 1.3em;
    text-shadow: 2px 2px black;
}

section#promociones h2 {
    display: flex;
    justify-content: center;
    margin: 1em;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.hamburguers_promotions {
    display: flex;
    flex-direction: column;
}

.promotion {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 2px;
}

.promotion h3 {
    font-size: 2.5em;
    color: black;
    margin: 2em;
}
.promotion p {
    font-size: 2em;
    color: black;
    margin: 1em;
}


footer {
    background-image: url(../img/tramaHeader.png);
    background-repeat: repeat;
    background-color: black;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
}

.footerdad {
    display: flex;
    justify-content: space-evenly;
    padding: 1.1rem; 
}


.workwithus h2, p {
    display: flex;
    justify-content: center;
    color: white;
}

.trabaja {
    border: 2px solid #F29A2E;
    padding: 0.5em;
    background-color: black;
}

.trabaja:hover {
    color: #F29A2E;
    text-decoration: none;
    transition: all 0.25s;
}



.Socialsc img {
    width: 3rem;
}



@media screen and (min-width:992px) and (max-width:1199px) {
    
    header {
        font-size: 0.5em;
    }
    
}

@media screen and (min-width:768px) and (max-width:991px) {
    
    header {
        font-size: 0.5em;
    }

    
}

@media screen and (min-width:576px) and (max-width:767px) {
    
    .logo {
        width: 5%;
        visibility: hidden;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {

    .logo {
        width: 5%;
        visibility: hidden;
    }

    .carousel-item h5 {
        font-size: 1.3em;
        text-shadow: 1px 1px black;
    }
    
    .carousel-item p {
        font-size: 0.8em;
        text-shadow: 1px 1px black;
    }

    .promotion h3 {
        font-size: 1.5em;
        color: black;
        margin: 0.5em;
    }
    .promotion p {
        font-size: 1em;
        color: black;
        margin: 0.5em;
    }

    .logowithsocials img {
        width: 75%;
    }

    .trabaja {
        font-size: 1em;
    }
}

@media screen and (min-width:0px) and (max-width:360px) {

    body {
        font-size: 0.6rem;
    }

    .logo.header {
        width: 5%;
        visibility: hidden;
    }

    .hamburguer img {
        width: 50%;
    }

    .hamburguer h3 {
        color: black;
        margin: 2em;
    }

    .hamburguer p {
        visibility: hidden;
    }

    .promotion img {
        width: 50%;
    }

    .promotion h3 {
        font-size: 1.5em;
        color: black;
        margin: 2em;
    }

    .promotion p {
        visibility: hidden;
    }

    .logowithsocials img {
        width: 50%;
    }
    
    .workwithus a {
        font-size: 1em;
    }
    p {
        visibility: hidden;
        width: 1%;
        height: 1%;
    }

}
