@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    box-sizing: border-box;
    font-family: Oswald;
    background-color: #F29A2E;
}

#wrapper {
    display: grid;
    grid-template-areas: 
    "header"
    "imagenfondo"
    "cartel"
    "burgas"
    "footer";
    grid-template-rows: auto;
    width: 100%;
    height: 100vh;    
}

header {
    grid-area: header;
    background-image: url(../img/tramaHeader.png);
    background-repeat: repeat;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 6.25em;
    margin-left: 2em;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    margin: 0 1em;
    color: white;
    font-size: 1.5em;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 2em;
}

a:hover {
    color: #F29A2E;
    text-shadow: 1px 1px 2px;
    transition: all 0.25s;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#HamburguesaFondo {
    grid-area: imagenfondo;
    display: flex;
    justify-content: center;
}


.hamburguer1920 img {
    width: 100%;
}

section#Cartel {
    grid-area: cartel;
    display: flex;
    justify-content: center;
}

section#burguershow {
    grid-area: burgas;
    display: flex;
    flex-direction: column;
}    

.hamburguers {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 3em;
}

.burguer_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burguer_image img {
    width: 19em;
    opacity: 0.6;
}

.burguer_image img:hover {
    opacity: 1;
    transform: scale(1.10);
    transition: all 1s;
}

p {
    padding: 1em;
}

#myfooter {
    grid-area: footer;
    background-image: url(../img/tramaHeader.png);
    background-color: black;
    color: #fff;
    }

.footerdad {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.trabaja {
    border: 2px solid #F29A2E;
    padding: 10px;
    background-color: black;
}

.Socialsc {
    display: flex;
    justify-content: space-around;
    margin: 2em;
}

.Socialsc img {
    width: 3em;
}

@media screen and (min-width:0px) and (max-width:768px) {
    .hamburguers {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3em;
        margin: 0 30em 10em 30em;
    }

    .burguer_image img {
        width: 30em;
        
    }
}