@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Oswald;
    background-color: #F29A2E;
    
}
 
header {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/tramaHeader.png);
    background-repeat: repeat;
    background-color: black;
    top: 0;
    margin-top: 0;
}

.logo {
    width: 5em;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    margin: 0 1em;
    color: white;
    font-size: 1.5em;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: #F29A2E;
    text-shadow: 1px 1px 2px;
    transition: all 0.25s;
}

#formulario {
    display: flex;
    justify-content: center;
}

#formulario h2 {
    font-size: 3em;
    padding: 0.5em;
}

.boxform {
    display: flex;
    flex-direction: column;
    align-items: center;
}


input[type=text], input[type=email] {
    width: 15em;
    font-size: 2em;
    border: 2px solid black;
    margin: 0.1em 0;
}

.sex {
    font-size: 1.5em;
}

textarea {
    width: 30em;
    height: 10em;
    border: 2px solid black;
}

input[type=submit], input[type=reset] {
    border-radius: 10px;
    padding: 0.5em;
}

footer {
    background-image: url(../img/tramaHeader.png);
    background-repeat: repeat;
    background-color: black;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
}

.footerdad {
    display: flex;
    justify-content: space-evenly;
    padding: 1.1em; 
}

.workwithus h2, p {
    display: flex;
    justify-content: center;
    color: white;
}

.trabaja {
    border: 2px solid #F29A2E;
    padding: 0.9px;
    background-color: black;
}

.Socialsc {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.Socialsc img {
    width: 3em;
}



@media screen and (min-width:992px) and (max-width:1199px) {
    
    header {
        font-size: 0.5em;
    }
    
}

@media screen and (min-width:768px) and (max-width:991px) {
    
    header {
        font-size: 0.5em;
    }

    
}

@media screen and (min-width:576px) and (max-width:767px) {
    
    .logo {
        width: 5%;
        visibility: hidden;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {

    .logo {
        width: 5%;
        visibility: hidden;
    }

    .logowithsocials img {
        width: 75%;
    }

    .trabaja {
        font-size: 1em;
    }
}

@media screen and (min-width:0px) and (max-width:360px) {

    body {
        font-size: 0.6rem;
    }

    .logo {
        width: 5%;
        visibility: hidden;
    }

    .logowithsocials img {
        width: 60%;
    }
    
    .workwithus a {
        font-size: 1em;
    }
    p {
        visibility: hidden;
    }

}
