@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    box-sizing: border-box;
    font-family: Oswald;
    background-color: #F29A2E;
}

/* WRAPPER-INDEX */

#wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "imagenfondo"
        "cartel"
        "footer";
    grid-template-rows: auto;
    width: 100%;
    height: 100vh;
}

header {
    grid-area: header;
    background-image: url(../img/tramaHeader.png);
    background-repeat: repeat;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

/* .logo {
    width: 5em;
} */

li,
a {
    list-style-type: none;
    text-decoration: none;
    margin: 0 1em;
    color: white;
    font-size: 1.5em;
}


a:hover {
    text-decoration: none;
    color: #F29A2E;
    text-shadow: 1px 1px 2px;
    transition: all 0.25s;
}

#HamburguesaFondo {
    grid-area: imagenfondo;
    display: flex;
    justify-content: center;
}


.hamburguer1920 img {
    width: 100%;
}

section#Cartel {
    grid-area: cartel;
    display: flex;
    justify-content: center;
}


p {
    padding: 1em;
}

#myfooter {
    grid-area: footer;
    background-image: url(../img/tramaHeader.png);
    background-color: black;
    color: #fff;
}

.footerdad {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.trabaja {
    border: 2px solid #F29A2E;
    padding: 10px;
    background-color: black;
}

.Socialsc {
    display: flex;
    justify-content: space-around;
    margin: 2em;
}

.Socialsc img {
    width: 3em;
}


/* INDEX MEDIA QUERY */

@media screen and (min-width:992px) and (max-width:1199px) {
    
    .logo {
        width: 50%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    
    .logo {
        width: 50%;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    
    .logo {
        width: 45%;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {

    .logo {
        width: 40%;
    }
}

@media screen and (min-width:0px) and (max-width:360px) {

    body {
        font-size: 0.35rem;
    }

    .logo {
        width: 45%;
    }

    .hamburguers {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3em;
        margin: 0 10em 10em 10em;
    }

    .burguer_image img {
        width: 90%;
    }

    p {
        visibility: hidden;
    }

}

/* gcipolla@gmail.com ***/


