@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: $font-primary;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: $font-primary;
    color:$text-color-tertiary;
}

img{
    width: 100%;
}