// colores de texto
$text-color-primary: #F29A2E;
$text-color-secondary: black;
$text-color-tertiary: white;

// fuentes
$font-primary: 'Oswald';

// tamaño de fuentes
$font-large: 6em;
$font-semilarge: 4.5em;
$font-medium: 3em;
$font-small: 1.5em;
$font-xsmall: 1em;


